.galleryMain { 
    white-space: nowrap;
}

.galleryOkapi {
    overflow-x: scroll;
    overflow-y: hidden;
}

.galleryKomodo {
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallerySun {
    overflow-x: scroll;
    overflow-y: hidden;
}

.galleryStand {
    overflow-x: scroll;
    overflow-y: hidden;
}

.galleryGiant {
    overflow-x: scroll;
    overflow-y: hidden;
}

.gallerySpider {
    overflow-x: scroll;
    overflow-y: hidden;
}

.footer {
    border: 100px solid black;
}